a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Hurricane', cursive;
    color: black;

}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

ul li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul li:hover {
    cursor: pointer;
    color: #333;
}

button {
    padding: 5px 15px 5px 15px;
    border: none;
    background-color: black;
    color: white;
}

button:hover {
    cursor: pointer;
}