.PRODUCTCARD {
    border: 2px solid black;
    height: 500px;
    width: 300px;
    border-radius: 5px;
    margin: 20px 0px 0px 0px;
}

.PARENTOP {
    display: flex;
    justify-content: center;
    gap: 15px;
}

img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: 0.2s all ease;
}

img:hover {
    transform: scale(1.1);
    border-radius: 5px;
}